.night {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 30px;
    top: 30px;
    border-radius: 20px;
    background-color: #8a7dc9;
    font-size: 20px;
    border: 4px solid black;
}
.night:hover {
    transform: scale(0.97);
}
.night:active {
    transform: scale(0.94);
}
.pos {
    color: #ffffff;
}
.player {
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 20px;
    background-color: rgb(88, 214, 49);
    position: absolute;
    
}
.body.s{
    rotate: 180
}
